.contact_buttons {
  display: flex;
  flex-direction: row;
  gap: 56px;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: start;
}

.contact_button {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  /* width: 256px; */
  height: 100%;
  max-height: 200px;
  padding: 16px;
  border-radius: 14px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
  background-color: #00a3c7;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.contact_button img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.contact_button_title {
  font-size: 16px;
  font-weight: 600;
  text-align: start;
}
