.contact_container {
  height: 1000px;
  overflow: hidden;
  position: relative;
}
.geometric {
  position: absolute;
  left: 90%;
  transform: rotate(174deg);
  width: 700px;
}
.geometric2 {
  position: absolute;
  right: 90%;
  top: -8%;
  transform: rotate(85deg);
  width: 500px;
}
.geometric3 {
  position: absolute;
  right: 95%;
  transform: rotate(27deg);
  width: 500px;
  top: 47%;
}
