/* @media screen and (max-width: 1024px) {

  .colapsed-round {
    height: 400px;
    width: 400px;
    direction: column;
  }
  .colapsing-round {
    width: 120px;
    height: 120px;
  }
  .colapsing-round-img {
    width: 60px;
    height: 60px;
  }
  .colapsing-round-title {
    font-size: 18px;
  }
  .colapsing-round-text {
    font-size: 14px;
  }
} */
.colapsing_rounds {
  max-width: 1000px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.colapsing_round {
  width: 140px;
  height: 140px;
  background: linear-gradient(
    180deg,
    rgba(0, 196, 199, 0.171) 0%,
    rgba(27, 1, 155, 0.13) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colapsed_round {
  justify-content: flex-start;
  height: 500px;
  width: 300px;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
  padding: 24px;
}

/* .colapsing-round-img {
  width: 70px;
  height: 70px;
} */

.colapsing_round_title,
.colapsing_round_text {
  display: none;
  color: #fff;
}
.colapsing_round_title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 28px 0;
  text-align: center;
}
.show {
  display: block;
  animation: fadeIn 1s ease-in-out;
}

.breakpoint {
  margin-top: 100px;
  height: 1px;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TABLET */

@media screen and (max-width: 974px) {
  .colapsing_rounds {
    flex-direction: column;
    gap: 12px;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: start;
  }
  .colapsed_round {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
    justify-content: start;
    align-items: start;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .colapsed_round {
    align-items: center;
    justify-content: center;
  }
}
