.pvoc_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 64px 12px 172px 12px;
}

.pvoc_header_text {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.pvoc_header_text_title {
  font-size: 38px;
  font-weight: 700;
}

.pvoc_header_text_paragraph {
  font-size: 18px;
  font-weight: 400;
}

.pvoc_header_img {
  width: 256px;
  height: 256px;
}

@media screen and (max-width: 974px) {
  .pvoc_header {
    justify-content: start;
    width: 100%;
  }
  .pvoc_header_text_title {
    font-size: 24px;
  }
  .pvoc_header_text_paragraph {
    font-size: 14px;
    width: 100%;
  }
  .pvoc_header_img {
    display: none;
  }
}
