.slider {
  height: 60px;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  width: calc(150px * 27);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 130px;
  height: 60px;
  margin: 0 10px;
  display: grid;
  place-items: center;
  filter: opacity(0.7);
}
@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 9));
  }
}

@media screen and (max-width: 768px) {
}
