.navigation_dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  z-index: 1;
  pointer-events: none;
}

.navigation_dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: #fff solid 2px;
  background-color: transparent;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: #fff;
}
